    html {
        font-size: 62.5%;
        font-family:'Poppins', sans-serif;
        background-color: black;
    }

    body {
        margin: 0rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: black;
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 2rem;
    }
    
    header h1 {
        text-align: center;
        font-size: 4rem;
        color: white;
    }
    
    header {
        padding: 4rem;
        background-color: cyan;
    }
        
    main {
        background-color: black;
        text-align: center;
        color: whitesmoke;
        font-size: 1.5rem;
    }

    section {
        font-size: 2rem;
        margin: 5rem;
    }

    section:first-child {
        border-top: none;
        margin: 0%;
      }
    
    section2 {
        margin: 20rem;
        min-height: 100vh;
        font-size: 2rem;
        margin-bottom: 10rem;
    }
    
    video {
        padding: 1rem;
        width:fit-content;
        margin: auto;
    }

    img {
        padding: 1rem;
    }
    
    footer {
        background-color: #333;
        overflow: hidden;
        padding: 5rem;
    }
    
    footer a {
        text-decoration: none;
        padding: 2rem;
        text-align: center;
        float: left;
        color: white;
    }
    
    @media(max-width:992px) {
        html {
            font-size: 55%;
        }
    }
    
    @media(max-width:799px) {
        html {
            font-size: 45%;
        }

        video {
            padding: 1rem;
            width: 100%;
        }
    }


nav a:hover{
    color: cyan;
    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff,
                0 0 5px #66ffff;
}

h1 a:hover{
    color: cyan;
    background-color: black;
    text-decoration: underline;
}








*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    
}
body{
    background: white;
}

nav{
    background: #1b1b1b;
}
nav:after{
    content: '';
    clear: both;
    display: table;
}
nav .logo{
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
}

nav ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}
nav ul li{
    float: left;
    display: inline;
    background: #1b1b1b;
    margin: 0 50px;
}

nav ul li a{
    color:white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
}
nav ul li a:hover{
    color: cyan;
    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff,
                0 0 5px #66ffff;
}


nav ul ul{
    position: absolute;
    top: 90px;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}


nav ul ul ul{
    border-top: none;
}

nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li a:hover{
    color: cyan;
    box-shadow: none;
}


nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

nav ul ul li a{
    line-height: 50px;
}


nav ul ul ul li{
    position: relative;
    top: -70px;
    left: 150px;

}


.fa-plus{
    margin-left: 40px;
    font-size: 15px;
}

.show , .icon , input{
    display: none;
}

@media all and (max-width:1025px) {
    nav ul{
        margin: 0px;
        float: left;

    }

    nav .logo{
        padding-left: 10px;
        width: 100%;
    }

    nav ul li, nav ul ul li{
        display: block;
        width: 100%;
    }
    nav ul ul{
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }

    nav ul ul a{
        padding-left: 40px;
    }

    nav ul ul li{
        border-bottom: 0px;
    }

    nav ul ul ul a{
        padding-left: 80px;
    }


    nav ul ul ul li{
        position: static;
    }

    nav ul ul li label a{
        padding-left: 40px;
    }


    .show{
        display: block;
        color: white;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }
    
    .show:hover{
        color: cyan;
    }

    .icon{
        display: block;
        color: white;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;

    }

    nav ul a:hover{
        box-shadow: none;
    }


    .show + a, ul{
        display: none;
    }
    [id^=btn]:checked + ul{
        display: block;
    }
}
